

:root{

--azul-oscuro: #0606A2;
--azul-morado: #2a2aae;
--celete:#60b3ff;
--blanco: #FFFFFF;
--negro: #000000;
--gris-oscuro: #50464d;
--gris-claro: #f2f2f2f2;

}
 
 
 body {
      font-family: Arial, sans-serif;
      padding: 20px;
      margin: 0;
      background: url("../../imagenes/aceite.png") no-repeat center center fixed;
      background-size: cover;
      color: var(--azul-morado);
      box-sizing: border-box;
    }

    .form-container {
      max-width: 500px;
      margin: auto;
      background: rgba(255, 255, 255, 0.8); /* blanco con transparencia 70% */
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        backdrop-filter: blur(10px); /* desenfoque de fondo */
        border: 1px solid rgba(0, 0, 0, 0.1); /* borde sutil */
    }

    .form-container h2 {
      text-align: center;
      color: var(--azul-morado)
    }

    label {
      display: block;
      margin-top: 15px;

      color: var(--azul-morado);
    }

    input, textarea, select {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      color: var(--azul-oscuro)
    }

    .checkbox-group {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-top: 10px;
      color: var(--azul-morado);
    }

    button {
      width: 100%;
      padding: 12px;
      margin-top: 20px;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    button:hover {
      background-color: #0056b3;
    }

    .btn-secundario {
      background-color: #6c757d;
      margin-top: 10px;
    }

    .btn-secundario:hover {
      background-color: #5a6268;
    }

    #mensaje {
      margin-top: 15px;
      text-align: center;
      color: green;
    }

    .hidden {
      display: none;
    }

      .form-container h2 {
      text-align: center;
      color: var(--azul-morado)
    }